<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">

<script src="./static/mdmagick/vendor/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="./static/mdmagick/vendor/a-tools.js" type="text/javascript" charset="utf-8"></script>
<script src="./static/mdmagick/vendor/showdown.js" type="text/javascript" charset="utf-8"></script>

<script src="./static/mdmagick/lib/mdmagick.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="./static/mdmagick/assets/mdmagick.css" ></style>
<link rel="stylesheet" href="./static/mdmagick/assets/icon_font/style.css" />
<!--[if lte IE 7]><script src="./static/mdmagick/assets/icon_font/lte-ie7.js"></script><![endif]-->

<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" media="screen">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>

<div class=page>
  <h1>Flaskr</h1>
  <div align="right">  
  {% if not session.logged_in %}
    <a href="{{url_for('login')}}">log in</a>
  {% else %}
    <a href="{{url_for('logout')}}">log out</a>
    {% endif %}
  </div>
  {% include "menu.html" %}
  {% for message in get_flashed_messages() %}
    <div class=flash>{{message}}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
