{% extends "layout.html" %}
{% block mybody %}
  <div class=entries>
    <li><strong><a class="entry_link" target="_blank" href="/entry/{{entry.id}}"> {{entry.title}}</a></strong>
    <li><small><i class="icon-user"></i>{{entry.author}}   <i class="icon-time"></i>{{entry.pub_date | timesince }}</small>
    <p class="text-success">{{ entry.text|md }}</p>
    {% if session.logged_in %}
      <div class="entry-operation">
        <a href="{{ url_for('entry.edit_entry', entry_id=entry.id) }}" class=edit-entry> 编辑 </a>  
        <a href="{{ url_for('entry.delete_entry', entry_id=entry.id) }}" class=delete-entry> 删除 </a>
      </div>
    {% endif %}
    <div id="disqus_thread"><a href="http://blog.zhongmoxi.com/bar.html#disqus_thread">Link</a></div>
    <script type="text/javascript">
      var disqus_shortname = 'zhongmoxi';

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  </div>
{% endblock %}
