<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Flaskr</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li ><a href="{{url_for('front.about')}}"</a>About</li>
        </ul>
        <ul class="nav">
        {% if not session.logged_in %}
          <li><a href="{{url_for('front.login')}}">login</a></li>
        {% else %}
          <li><a href="{{url_for('front.logout')}}">logout</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

